.alphabets {
    display: inline-block;
    max-width: 350px;
    margin-top: 34px;
    // font-size: 0;

    .collection {
        text-align: left;
    }
    .collection + .collection {
        margin-top: 16px;
    }

    ul {
        margin-bottom: 12px;

        &.hide-overflow {
            max-height: 170px;
        }
    }

    li {
        display: inline-block;
        border: 1px solid #808080;
        border-radius: 4px;
        text-align: center;
        margin: 8px;
        padding: 4px;

        img {
            width: 44px;
            height: 44px;
        }
    }
}

.alphabet-see-more-button {
    display: block;
    position: relative;
    margin: auto;
    color: #333333;
    border: 1px solid #333333;
    padding: 10px 40px 10px 24px;
    width: 210px;

    &::after {
        content: "";
        position: absolute;
        right: 22px;
        top: 10px;
        width: 8px;
        height: 8px;
        border: solid #333333;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    &.expand {
        &::after {
            top: 15px;
            -webkit-transform: rotate(225deg);
            -ms-transform: rotate(225deg);
            transform: rotate(225deg);
        }
    }
}

.alphabet {
    cursor: pointer;

    &.active {
        background-color: #c9c9c9;
    }

    &:hover,
    &:active {
        background-color: #c9c9c9;
    }
}