.slot {
    display: inline-flex;
    justify-content: center;

    width: 100%;
    height: 100%;
    background: beige;

    > img {
        width: 45px;
        height: 50px;

    }

    &.combined-row {
        grid-row: 1 / -1;
    }

    &.combined-col {
        grid-column: 1 / -1;
    }
}

.board {
    display: inline-block;
    vertical-align: top;
    width: 620px;
    height: 500px;
    
    text-align: center;
}

.board-tab-title {
    > li {
        display: inline-block;
    }
}

.board-template {
    display: grid;

    &.board1 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    &.board2 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    &.board3 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}