.slot {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: beige;
    border: 1px dotted #999;

    > img {
        width: 70px;
        height: 75px;

    }

    &.combined-row {
        grid-row: 1 / -1;

    }
    
    &.combined-col {
        grid-column: 1 / -1;

    }
}

.board {
    display: inline-block;
    vertical-align: top;
    margin-top: 4px;
    margin-left: 16px;
    text-align: center;
}

.board-tab-title {
    > li {
        display: inline-block;
        font-size: 12px;
        border-bottom: 4px solid transparent;
        line-height: 1;
        padding: 2px 4px;
        cursor: pointer;

        &.active,
        &:hover {
            color: #ed6767;
            border-bottom: 4px solid #ed6767;
        }

        & + li {
            margin-left: 16px;
        }
    }
}

.board-template {
    display: grid;
    height: 400px;
    margin-top: 8px;

    &.board1 {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }

    &.board2 {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }

    &.board3 {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    &.board4 {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    &.board5 {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    &.board6 {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }

    &.board7 {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    &.board8 {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    &.board9 {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }

    &.board10 {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }

}