@import "./abstract";
@import "./helper";
@import "./components";
@import "./alphabet";

.wrapper {
    overflow: hidden;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.header {
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}

.content {
    display: flex;
    max-width: 1140px;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}


.alphabets {
    display: inline-block;
    max-width: 350px;
    // font-size: 0;
    
    ul {
        list-style: none;
        padding: 0;
    }

    li {
        display: inline-block;
        border: 1px solid #808080;
        border-radius: 4px;
        text-align: center;
        margin: 8px;
        padding: 4px;

        img {
            width: 60px;
            height: 60px;
        }
    }

    .vowels {
        li {
            img {
                width: 70px;
                height: 70px;
            }
        }
    }
}


.canvas {
    display: inline-block;
    text-align: center;
    margin: 8px;
    font-size: 0;

    &__buttons {
        font-size: 12px;
    }
}

#canvas {
    border: 2px solid;
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 8px;
    // width: 800px;
    // height: 500px;
}
